<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McDonald's Kiosk - Your Order</title>
    <link rel="stylesheet" href="css/reuse.css">
    <link rel="stylesheet" href="css/cart/style.css">
</head>
<body>
    <!-- Main screen container -->
    <main class="main-container">
        <!-- Top logo section -->
        <header class="header">
            <div class="header__background"></div>
            <img class="header__logo" src="images/McLogoWhite.png" alt="McDonald's Logo" />
        </header>

        <!-- Order items list -->
        <section class="order">
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
            <!-- Order item -->
            <article class="order__item">
                <div class="order__item-container">
                    <img class="order__item-image" src="images/Burger.png" alt="Food Item" />
                    <div class="order__item-content">
                        <span class="order__item-title">Food Type</span>
                        <span class="order__item-price">PRICE</span>
                    </div>
                    <div class="quantity">
                        <div class="quantity__button">-</div>
                        <div class="quantity__value">0</div>
                        <div class="quantity__button">+</div>
                    </div>
                </div>
            </article>
        </section>

        <!-- Bottom bar -->
        <footer class="footer">
            <div class="footer__cart-info">
                <span class="footer__text">X ITEMS<br/>Price</span>
            </div>
            <a href="selection.html" class="footer__button">
                <span class="footer__text"> < Back</span>
            </a>
            <a href="payment.html" class="footer__button">
                <span class="footer__text">Proceed To Payment > </span>
            </a>
        </footer>
    </main>
</body>
</html>