<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McDonald's Kiosk - Payment </title>
    <link rel="stylesheet" href="/css/reuse.css">
    <link rel="stylesheet" href="/css/payment/style.css">
</head>
<body>
    <div class="main-container">
        <header class="header">
            <div class="header__background"></div>
            <img class="header__logo" src="/images/McLogoWhite.png" alt="McDonald's Logo" />
        </header>

        <div class="payment-methods">
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
            <div class="payment-method">
                <div class="payment-method__title">Payment Method</div>
                <img class="payment-method__icon" src="/images/PayPal.png" alt="Payment Icon">
            </div>
        </div>

        <section class="charity-section">
            <h2 class="charity-section__title">Round up for Charity? <br> <span>12,86 -> 13</span></h2>
            
            <div class="yes-no-buttons">
                <button class="yes-no-button">YES</button>
                <button class="yes-no-button">NO</button>
            </div>

            <h2 class="charity-section__title">Add X amount for Charity?</h2>
            <div class="charity-options">
                <div class="charity-option">
                    <button class="charity-option__button">€1</button>
                </div>
                <div class="charity-option">
                    <button class="charity-option__button">€2.50</button>
                </div>
                <div class="charity-option">
                    <button class="charity-option__button">€5</button>
                </div>
                <div class="charity-option">
                    <button class="charity-option__button">€10</button>
                </div>
                <div class="charity-option">
                    <button class="charity-option__button">€25</button>
                </div>
                <div class="charity-option">
                    <button class="charity-option__button">€50</button>
                </div>
                <div class="charity-option">
                    <button class="charity-option__button">€100</button>
                </div>
                <div class="charity-option">
                    <button class="charity-option__button">Custom</button>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__cart-info">
                <span class="footer__text">X ITEMS<br/>Price</span>
            </div>
            <a href="/cart" class="footer__button">
                <span class="footer__text"> < Back</span>
            </a>
            <a href="/confirmation" class="footer__button">
                <span class="footer__text">Proceed > </span>
            </a>
        </footer>
    </div>
</body>
</html> 